#loading-screen {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
}

#loading-text {
  position: absolute;
  top: calc(50% + 75px);
  left: -100px;
  animation: moveText 10s linear infinite;
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  color: #0c4237ff;
}

@keyframes moveText {
  0% {
    left: -100px;
    opacity: 0;
  }
  33.33% {
    left: calc(50% - 50px);
    opacity: 1;
  }
  66.66% {
    left: calc(50% + 50px);
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

.centerBike {
position: absolute;
top: 50%;
left: 50%;
margin-top: 26px;
margin-left: -12px;
}

.center {
position: absolute;
top: 50%;
left: 50%;
margin-top: -50px;
margin-left: -50px;
}

#loop {
height: 100px;
width: 100px;
border: #0c4237ff solid 4px;
border-radius: 200px;
}

#loop:before {
background: linear-gradient(to left, rgba(187, 95, 39, 0) 0%, rgba(12, 66, 55, 1) 30%, rgba(12, 66, 55, 1) 70%, rgba(187, 95, 39, 0) 100%);
content: "";
display: block;
height: 4px;
left: -100px;
position: relative;
top: 100px;
width: 300px;
}

#bike-wrapper {
height: 108px;
width: 108px;
animation: drive 3s linear infinite;
}

#bike {
height: 24px;
width: 25px;
background-image: url("../assets/motorbike.png");
}

@keyframes drive {
0% {
  margin-left: -364px;
  opacity: 0;
}
33.33% {
  transform: rotate(0deg);
  margin-left: -50px;
  opacity: 1;
}
66.66% {
  transform: rotate(-360deg);
  margin-left: -50px;
  opacity: 1;
}
100% {
  margin-left: 264px;
  transform: rotate(-360deg);
  opacity: 0;
}
}

#exploreForm {
  width: 100%;
  height: auto;
}
::placeholder {
  color: #000000;
}
.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container01 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text {
  font-size: 30px;
  font-family: Urbanist;
  font-weight: 800;
  text-transform: uppercase;
}
.home-text01 {
  color: var(--dl-color-scheme-orange100);
}
.home-text03 {
  color: var(--dl-color-scheme-green100);
  font-style: normal;
  font-weight: 700;
}
.home-links {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-text04 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link1 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link2 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-icon {
  fill: #105749;
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.home-max-width1 {
  align-items: center;
}
.home-content {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-subtitle {
  color: var(--dl-color-scheme-orange100);
  margin-bottom: var(--dl-space-space-unit);
}
.home-title {
  color: var(--dl-color-scheme-white);
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-description {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-link4 {
  text-decoration: none;
}
.home-image {
  position: relative;
  padding-bottom: var(--dl-space-space-eightunits);
}
.home-hero-image {
  flex: 1;
  max-width: 550px;
  object-fit: cover;
  border-radius: 48px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.home-graphic-top {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
.home-image1 {
  right: -170px;
  bottom: 0px;
  position: absolute;
  object-fit: contain;
}
.home-max-width2 {
  width: 100%;
  max-width: auto;
  align-items: stretch;
}
.home-image2 {
  width: 100%;
}
.home-hero-image1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: -250px;
  border-radius: 48px;
}
.home-content1 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text05 {
  color: var(--dl-color-scheme-green80);
  margin: var(--dl-space-space-halfunit);
  padding: var(--dl-space-space-halfunit);
  align-self: flex-start;
}
.home-text06 {
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  padding: var(--dl-space-space-halfunit);
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
}
.home-text07 {
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.home-form {
  width: 100%;
  height: auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text08 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textinput {
  width: 100%;
  height: var(--dl-size-size-small);
  border: solid 3px #0C4237;
  box-shadow: 10px 10px 10px 1px #4a4040;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text09 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-select {
  width: 100%;
  height: var(--dl-size-size-small);
  align-self: center;
  border: solid 3px #0C4237;
  box-shadow: 10px 10px 10px 1px #4a4040;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.home-container05 {
  flex: 0 0 auto;
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  padding-bottom: 8px;
  justify-content: center;
}
.home-text10 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-select1 {
  width: 100%;
  height: var(--dl-size-size-small);
  border: solid 3px #0C4237;
  box-shadow: 10px 10px 10px 1px #4a4040;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text11 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-select2 {
  width: 100%;
  height: var(--dl-size-size-small);
  border: solid 3px #0C4237;
  box-shadow: 10px 10px 10px 1px #4a4040;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.home-button {
  color: #0c4237;
  width: auto;
  height: auto;
  margin: var(--dl-space-space-unit);
  align-self: center;
  text-align: center;
  box-shadow: 10px 10px 10px 1px #4a4040;
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius16);
  border: solid 3px #0C4237;
}
.home-container07 {
  width: 100%;
  display: none;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text12 {
  color: rgb(12, 66, 55);
  width: 100%;
  margin: var(--dl-space-space-oneandhalfunits);
  font-size: 1em;
  text-align: center;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
}
.home-button01 {
  color: #0c4237;
  width: 100%;
  margin: var(--dl-space-space-unit);
  align-self: center;
  background-color: transparent;
  box-shadow: 10px 10px 10px 1px #4a4040;
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius16);
  border: solid 3px #0C4237;
}
.home-button02 {
  color: #0c4237;
  width: 100%;
  margin: var(--dl-space-space-unit);
  align-self: center;
  text-align: center;
  box-shadow: 10px 10px 10px 1px #4a4040;
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius16);
  border: solid 3px #0C4237;
}
.home-section1 {
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width3 {
  max-width: auto;
  align-items: stretch;
}
.home-content2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-text13 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text14 {
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text15 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-form1 {
  width: 100%;
  height: auto;
  margin: var(--dl-space-space-unit);
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  flex-direction: column;
}
.home-container09 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.home-title1 {
  color: #0C4237;
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textinput1 {
  width: 100%;
  height: var(--dl-size-size-small);
  border: solid 3px #0C4237;
  box-shadow: 10px 10px 10px 1px #4a4040;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.home-container10 {
  flex: 1;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: column;
}
.home-title2 {
  color: rgb(12, 66, 55);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-select3 {
  width: 100%;
  height: var(--dl-size-size-small);
  border: solid 3px #0C4237;
  box-shadow: 10px 10px 10px 1px #4a4040;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.home-button03 {
  color: #0c4237;
  margin-top: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  box-shadow: 10px 10px 10px 1px #4a4040;
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius16);
  border: solid 3px #0C4237;
}
.home-container11 {
  flex: 1;
  width: 100%;
  display: none;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text16 {
  color: rgb(12, 66, 55);
  width: 100%;
  margin: var(--dl-space-space-oneandhalfunits);
  font-size: 1em;
  align-self: center;
  text-align: center;
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.home-button04 {
  color: #0c4237;
  width: 100%;
  margin: var(--dl-space-space-unit);
  align-self: center;
  background-color: transparent;
  box-shadow: 10px 10px 10px 1px #4a4040;
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius16);
  border: solid 3px #0C4237;
}
.home-button05 {
  color: #0c4237;
  width: 100%;
  margin: var(--dl-space-space-unit);
  align-self: center;
  text-align: center;
  box-shadow: 10px 10px 10px 1px #4a4040;
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius16);
  border: solid 3px #0C4237;
}
.home-image3 {
  width: 100%;
  height: 100%;
}
.home-hero-image2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: var(--dl-space-space-eightunits);
  border-radius: 48px;
}
.home-section2 {
  background-color: var(--dl-color-scheme-green100);
}
.home-max-width4 {
  align-items: stretch;
}
.home-image4 {
  width: 50%;
}
.home-hero-image3 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 48px;
}
.home-content3 {
  width: 40%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text17 {
  color: var(--dl-color-scheme-white);
  margin-bottom: var(--dl-space-space-unit);
}
.home-text18 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-step {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-container13 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title3 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textinput2 {
  width: 100%;
  height: var(--dl-size-size-small);
  border: solid 3px #000000;
  box-shadow: 5px 5px 5px 1px #000000;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
  color: #000000;
}
.home-step1 {
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-container14 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-title4 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-select4 {
  width: 100%;
  height: var(--dl-size-size-small);
  border: solid 3px #000000;
  box-shadow: 5px 5px 5px 1px #000000;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.home-step2 {
  display: flex;
  flex-direction: row;
}
.home-container15 {
  flex: 1;
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-button06 {
  width: 100%;
  align-self: center;
  box-shadow: 5px 5px 5px 1px #000000;
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius16);
  border: solid 3px #000000;
  background-color: transparent;
  color: white;
}
.home-button06:hover {
  background-color: #000000;
}
.home-button07:hover {
  background-color: #000000;
}
.home-button08:hover {
  background-color: #000000;
}
.home-step3 {
  display: none;
  flex-direction: row;
}
.home-container16 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text19 {
  color: rgb(255, 255, 255);
  margin: var(--dl-space-space-oneandhalfunits);
  font-size: 1em;
  align-self: center;
  text-align: center;
}
.home-container17 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-button07 {
  width: 100%;
  color: #ffffff;
  margin: var(--dl-space-space-unit);
  align-self: center;
  box-shadow: 5px 5px 5px 1px #000000;
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius16);
  border: solid 3px #000000;
  background-color: transparent;
}
.home-button08 {
  width: 100%;
  color: #ffffff;
  margin: var(--dl-space-space-unit);
  align-self: center;
  box-shadow: 5px 5px 5px 1px #000000;
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius16);
  border: solid 3px #000000;
  background-color: transparent;
}
.home-section3 {
  padding: var(--dl-space-space-threeunits);
}
.home-max-width5 {
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text20 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text21 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-container18 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.home-title5 {
  color: #0C4237;
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textinput3 {
  width: 100%;
  height: var(--dl-size-size-small);
  text-align: center;
  border: solid 3px #0C4237;
  box-shadow: 10px 10px 10px 1px #4a4040;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.home-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: center;
}
.home-container20 {
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.home-radiobutton {
  margin: var(--dl-space-space-halfunit);
  align-self: center;
}
.home-text22 {
  margin: var(--dl-space-space-halfunit);
  font-style: normal;
  font-weight: 700;
}
.home-container21 {
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-radiobutton1 {
  margin: var(--dl-space-space-halfunit);
  align-self: center;
}
.home-text23 {
  margin: var(--dl-space-space-halfunit);
  font-style: normal;
  font-weight: 700;
}
.home-button09 {
  color: var(--dl-color-scheme-green100);
  width: 100%;
  box-shadow: 10px 10px 10px 1px #4a4040;
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius16);
  border: solid 3px #0C4237;
}
.home-container22 {
  flex: 1;
  width: 100%;
  display: none;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text24 {
  color: rgb(12, 66, 55);
  width: 100%;
  margin: var(--dl-space-space-oneandhalfunits);
  font-size: 1em;
  align-self: center;
  text-align: center;
}
.home-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-button10 {
  color: #0c4237;
  width: 100%;
  margin: var(--dl-space-space-unit);
  align-self: center;
  background-color: transparent;
}
.home-button11 {
  color: #0c4237;
  width: 100%;
  margin: var(--dl-space-space-unit);
  align-self: center;
  text-align: center;
}
.home-section4 {
  background-color: rgba(255, 199, 139, 0.14);
}
.home-max-width6 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-banner {
  flex: 0 0 auto;
  width: 100%;
  margin: var(--dl-space-space-threeunits);
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("../assets/group\ 11-1200w.png");
  box-shadow: 15px 15px 15px 2px #4a4040;
}
.home-text25 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text26 {
  color: var(--dl-color-scheme-white);
  font-size: 37px;
  font-style: normal;
  text-align: center;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text27 {
  color: rgba(0, 0, 0, 0.6);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-button12 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.home-heading {
  font-size: 25px;
  text-align: right;
}
.home-link5 {
  text-decoration: underline;
}
#signup {
  box-shadow: 5px 5px 5px 1px #d4d4d4;
}
@media(max-width: 1600px) {
  .home-hero-image1 {
    margin-left: -150px;
  }
  .home-text05 {
    width: 100%;
  }
  .home-text06 {
    width: 100%;
  }
  .home-container07 {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-button01 {
    width: 100%;
  }
  .home-button02 {
    width: 100%;
  }
  .home-form1 {
    align-self: center;
    justify-content: center;
  }
  .home-button03 {
    width: 100%;
    align-self: center;
  }
  .home-container11 {
    width: 100%;
  }
  .home-text16 {
    width: 100%;
  }
  .home-container12 {
    align-self: center;
    justify-content: center;
  }
  .home-button04 {
    width: 100%;
  }
  .home-button05 {
    width: 100%;
  }
  .home-container13 {
    width: 100%;
  }
  .home-container14 {
    width: 100%;
  }
  .home-container16 {
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-text19 {
    width: 100%;
  }
  .home-container17 {
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-button07 {
    width: 100%;
    margin: var(--dl-space-space-unit);
  }
  .home-button08 {
    width: 100%;
    margin: var(--dl-space-space-unit);
  }
  .home-text21 {
    width: 100%;
  }
  .home-button09 {
    width: 100%;
  }
  .home-container22 {
    width: 100%;
  }
  .home-container23 {
    justify-content: center;
  }
  .home-button10 {
    width: 100%;
    margin: var(--dl-space-space-fourunits);
  }
  .home-button11 {
    width: 100%;
    margin: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 1200px) {
  .home-text {
    text-transform: uppercase;
  }
  .home-text01 {
    color: var(--dl-color-scheme-orange100);
  }
  .home-section {
    width: auto;
  }
  .home-hero-image1 {
    margin-left: -50px;
  }
  .home-form {
    width: 100%;
    align-self: center;
    align-items: center;
  }
  .home-container03 {
    width: 100%;
  }
  .home-container04 {
    width: 100%;
  }
  .home-container05 {
    width: 100%;
  }
  .home-container06 {
    width: 100%;
  }
  .home-button {
    width: auto;
  }
  .home-button01 {
    width: 100%;
  }
  .home-button02 {
    width: 100%;
  }
  .home-container11 {
    width: 100%;
  }
  .home-button04 {
    width: 100%;
  }
  .home-button05 {
    width: 100%;
  }
  .home-container16 {
    width: 100%;
    align-items: center;
  }
  .home-text19 {
    width: 100%;
    align-self: center;
  }
  .home-container17 {
    width: 100%;
    align-self: center;
    justify-content: center;
  }
  .home-button07 {
    margin: var(--dl-space-space-unit);
  }
  .home-button08 {
    margin: var(--dl-space-space-unit);
  }
  .home-text21 {
    width: 100%;
  }
  .home-title5 {
    width: auto;
    text-align: center;
  }
  .home-container19 {
    align-items: center;
    justify-content: center;
  }
  .home-container20 {
    width: auto;
  }
  .home-radiobutton {
    width: auto;
  }
  .home-text22 {
    width: auto;
  }
  .home-container21 {
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-text23 {
    width: auto;
  }
  .home-container22 {
    align-items: center;
  }
  .home-container23 {
    align-self: center;
    justify-content: center;
  }
  .home-button10 {
    width: 100%;
  }
  .home-button11 {
    width: 100%;
  }
  .home-button12 {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .home-content {
    width: 50%;
    margin-right: var(--dl-space-space-unit);
  }
  .home-image {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-hero-image {
    margin-bottom: 0px;
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-image2 {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-hero-image1 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-content1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-container08 {
    justify-content: center;
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-form1 {
    align-self: center;
    justify-content: center;
  }
  .home-image3 {
    padding-bottom: 0px;
  }
  .home-hero-image2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-max-width4 {
    flex-direction: column;
  }
  .home-image4 {
    width: 100%;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-hero-image3 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-content3 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-container16 {
    align-items: center;
  }
  .home-max-width5 {
    flex-direction: column;
  }
  .home-max-width6 {
    flex-direction: column;
  }
  .home-footer {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home-links {
    display: none;
  }
  .home-icon {
    display: none;
  }
  .home-max-width1 {
    flex-direction: column-reverse;
  }
  .home-content {
    width: 100%;
    margin-right: 0px;
  }
  .home-subtitle {
    width: 100%;
  }
  .home-title {
    width: 100%;
  }
  .home-description {
    width: 100%;
  }
  .home-hero-image {
    width: 100%;
    margin-right: 0px;
  }
  .home-section {
    width: 100%;
  }
  .home-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-text05 {
    width: 100%;
  }
  .home-text06 {
    width: 100%;
  }
  .home-text07 {
    width: 100%;
  }
  .home-form {
    width: 100%;
    padding: var(--dl-space-space-unit);
    align-self: center;
  }
  .home-container03 {
    width: 100%;
  }
  .home-container04 {
    width: 100%;
  }
  .home-container05 {
    width: 100%;
  }
  .home-container06 {
    width: 100%;
  }
  .home-button01 {
    color: rgb(12, 66, 55);
    width: 100%;
    background-color: transparent;
  }
  .home-button02 {
    width: 100%;
  }
  .home-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .home-text15 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-button03 {
    width: auto;
    align-self: center;
  }
  .home-container11 {
    width: 100%;
  }
  .home-button04 {
    width: 100%;
  }
  .home-button05 {
    width: 100%;
  }
  .home-content3 {
    width: 100%;
    margin-right: 0px;
  }
  .home-button07 {
    width: 100%;
  }
  .home-button08 {
    width: 100%;
  }
  .home-max-width5 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-text21 {
    width: 100%;
  }
  .home-button09 {
    width: 100%;
  }
  .home-button10 {
    width: 100%;
  }
  .home-button11 {
    width: 100%;
  }
  .home-banner {
    padding: var(--dl-space-space-twounits);
  }
  .home-button12 {
    width: 100%;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-links {
    display: none;
  }
  .home-icon {
    display: none;
  }
  .home-subtitle {
    width: 100%;
  }
  .home-title {
    width: 100%;
  }
  .home-description {
    width: 100%;
  }
  .home-link4 {
    width: 100%;
  }
  .home-image {
    width: 100%;
  }
  .home-hero-image {
    width: 100%;
  }
  .home-image1 {
    width: 100%;
  }
  .home-section {
    width: 100%;
  }
  .home-text05 {
    width: 100%;
  }
  .home-text06 {
    width: 100%;
  }
  .home-text07 {
    width: 100%;
  }
  .home-container02 {
    width: 100%;
    align-items: center;
  }
  .home-form {
    align-self: center;
    align-items: center;
    flex-direction: column;
  }
  .home-container03 {
    width: 100%;
  }
  .home-container04 {
    width: 100%;
  }
  .home-select {
    height: var(--dl-size-size-small);
  }
  .home-container05 {
    width: 100%;
  }
  .home-select1 {
    height: var(--dl-size-size-small);
  }
  .home-container06 {
    width: 100%;
  }
  .home-select2 {
    height: var(--dl-size-size-small);
  }
  .home-button {
    width: 100%;
    align-self: center;
  }
  .home-container07 {
    flex: 0 0 auto;
    width: 100%;
    align-items: center;
  }
  .home-text12 {
    width: 100%;
  }
  .home-container08 {
    justify-content: center;
  }
  .home-button01 {
    width: 100%;
    margin: var(--dl-space-space-unit);
  }
  .home-button02 {
    width: 100%;
    margin: var(--dl-space-space-unit);
  }
  .home-content2 {
    align-items: center;
  }
  .home-text15 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-form1 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
  }
  .home-button03 {
    width: 100%;
    padding-top: 12px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 12px;
  }
  .home-container11 {
    width: 100%;
  }
  .home-text16 {
    width: 100%;
  }
  .home-container12 {
    justify-content: center;
  }
  .home-button04 {
    width: 100%;
    margin: var(--dl-space-space-unit);
  }
  .home-button05 {
    width: 100%;
    margin: var(--dl-space-space-unit);
  }
  .home-button06 {
    width: 100%;
  }
  .home-container16 {
    flex: 0 0 auto;
    width: 100%;
  }
  .home-container17 {
    width: 100%;
  }
  .home-button07 {
    width: 100%;
    margin: var(--dl-space-space-unit);
  }
  .home-button08 {
    width: 100%;
    margin: var(--dl-space-space-unit);
  }
  .home-section3 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-max-width5 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-button09 {
    width: 100%;
  }
  .home-container22 {
    width: 100%;
  }
  .home-text24 {
    width: 100%;
  }
  .home-container23 {
    justify-content: center;
  }
  .home-button10 {
    width: 100%;
    margin: var(--dl-space-space-unit);
  }
  .home-button11 {
    width: 100%;
    margin: var(--dl-space-space-unit);
  }
  .home-section4 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-button12 {
    width: 100%;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
  }
  .home-heading {
    font-size: 15px;
    text-align: center;
  }
}
